@charset"UTF-8";
body{
    width: 100%;
    margin: 0;
    padding: 0;
    border: 0;
    font-weight: normal;
    list-style: none;
    text-decoration: none;
}
main {
    margin: 0;
    padding: 0;
    border: 0;
    font-weight: normal;
    list-style: none;
    text-decoration: none;
    display: block;
}
#header-inner {
    height: 85px;
    width: 960px;
    position: relative;
    margin: auto;
}
#header-logo {
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
    width: 194px;
    height: 40px;
    left: 19px;
    text-align: center;
    background-color: #ffffcc;
}
#header-logo p {
    font-size: 1.5rem;
    vertical-align: bottom;
    margin: 0;
    padding: 0;
    border: 0;
    font-weight: normal;
    list-style: none;
    text-decoration: none;
    color: #000;
}
#header-contact {
    width: 155px;
    height: 51px;
    right: 0;
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
}
#header-contact-inner {
    display: block;
    width: 102px;
    height: 24px;
    text-align: center;
    padding: 14px 26px 14px 26px;
    background-color: #ff0600;
    margin: 0;
    border: 0;
    font-weight: normal;
    list-style: none;
    text-decoration: none;
    color: -webkit-link;
    cursor: pointer;
}
#header-contact-inner p {
    color: #fff;
    margin: 0;
    padding: 0;
    border: 0;
    font-weight: normal;
    list-style: none;
    text-decoration: none;
}
#header-text {
    width: 243px;
    height: 29px;
    right: 155px;
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
}
#header-text p {
    font-size: 0.9rem;
    margin: 0;
    padding: 0;
    border: 0;
    font-weight: normal;
    list-style: none;
    text-decoration: none;
    color: #000;
}
#section01 {
    margin: 0;
    padding: 0;
    border: 0;
    font-weight: normal;
    list-style: none;
    text-decoration: none;
}
.section {
    display: block;
}
.title {
    height: 87px;
    width: 100%;
    background-color: #aaa;
    position: relative;
    display: table;
}
h2 {
    color: #fff;
    font-size: 1.9rem;
    text-align: center;
    vertical-align: middle;
    
}
.contents {
    height: 400px;
    overflow: hidden;
}
.left {
    float: left;
    height: 400px;
    width: 50%;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0;
    padding: 0;
    border: 0;
    font-weight: normal;
    list-style: none;
    text-decoration: none;
}
div {
    display: block;
}
.right-text {
    float: right;
    width: 50%;
    height: 400px;
    margin: 0;
    padding: 0;
    border: 0;
    font-weight: normal;
    list-style: none;
    text-decoration: none;
    background-color: #000;
}
h4 {
    font-size: 1.25rem;
    margin: 30px 120px 0 21px;
    color: #fff;
    padding: 0;
    border: 0;
    font-weight: normal;
    list-style: none;
    text-decoration: none;
    display: block;
}
p {
   margin: 30px 120px 0 21px;
    color: #fff; 
}
.left-text {
    float: left;
    height: 400px;
    width: 50%;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #000;
}
footer {
    height: 93px;
    background-color: #aaa;
    margin: 0;
    padding: 0;
    border: 0;
    font-weight: normal;
    list-style: none;
    text-decoration: none;
}
footer p {
    margin-left: 119px;
    font-size: 0.75rem;
    line-height: 93px;
    color: #000;
    margin-top: 0;
}